@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media screen and (max-width: 1200px) {
    .main-menu li a {
        font-size: 13px!important;
    }
    .logo{
        margin: 0px auto;
    }
}

@media screen and (max-width: 1000px) {
    .main-menu {
        display: none!important;
    }
    .icon-respon-menu {
        display: block!important;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 992px) {
    /* --categoty-product.html--- */
    .list-food-content .food-item .food-info a.food-name, button {
        font-size: 16px!important;
    }
    .list-food-content .food-item .food-info p.price {
        font-size: 14px!important;
    }
    /* --end-categoty-product.html--- */
}

@media screen and (max-width: 768px) {
    .catgory-food-item {
        margin-bottom: 10px;
    }
    .logo {
        /* margin: 0px auto; */
        padding-left: 20px;
    }
    #my-breadcrumb {
        position: absolute;
        top: 30%;
        left: 37%;
    }
    #my-breadcrumb .breadcrumb-item a {
        color: #fff;
        font-size: 12px;
    }
    #my-breadcrumb li:first-child::before {
        font-size: 12px;
    }
    #my-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
        font-size: 12px;
    }
}

@media screen and (max-width: 575px) {
    .headquarters {
        padding-right: 30px;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}

@media screen and (max-width: 240px) {}