body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* =======================HEADER======= */

#header {
    background: #80b435;
    padding: 10px 0px;
}

#header .main-menu li a {
    display: block;
    color: #fff;
    margin-right: 30px;
    font-size: 14px;
}

#header form button {
    border: none;
    /* outline: none; */
    background: none;
    color: #fff;
}

#header form a img {
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 15px;
}

/* =============CONTENT========== */

/* ------banner----- */
.banner{
    position: relative;
}
#my-breadcrumb{
    background: none;
    position: absolute;
    top: 44%;
    left: 43%;
    
}

#my-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: ">";
}
#my-breadcrumb li:first-child::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
    font-size: 14px;
    color: #fff;

}
#my-breadcrumb .breadcrumb-item a{
    color: #fff;
    font-size: 15px;
}
/* ---end-banner-------- */
/* ======CONTENT================= */
#wp-content{
    margin-top: 50px;
}
.category-new-item{
    margin-bottom: 17px;
}
.category-new-item a.category-new-thumb img{
    margin-top: 6px;
}
.category-new-info .category-new-title{
    font-size: 22px;
    color: #333;
    text-decoration: none;
    margin-bottom: 13px;
}
.category-new-info .time{
    font-size: 13px;
    color: #a4a4a4;
    margin-bottom: 15px;
}
.category-new-info p{
    font-size: 13px;
    color: #636363;
}
.pagination li a{
    background: #c50808;
    color: #fff;
}
/* ======SIDEBAR======= */
#sidebar .commitment{
    padding: 0 32px 0px 0px;
}

#sidebar .commitment p{
    font-size: 15px;
    padding: 7px;
    border: 1px dotted #636363;

}
.sidebar-banner{
    margin-top: 50px;
}
/* ===========FOOTER============= */

#footer {
    padding: 50px 0px;
    background: #80b435;
    color: #fff;
    font-size: 14px;
}

#foote h4 {
    font-size: 20px;
}
/* ===================RESPON_MENU=============== */

#site {
    position: relative;
    overflow: hidden;
}

#site.open-respon-menu #wp-respon-menu {
    left: 0px;
    transition: left 0.25s;
}

#wp-respon-menu {
    position: absolute;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #80b435;
    z-index: 1000;
    padding: 10px 0px;
    transition: left 0.25s;
}

#wp-respon-menu ul#respon-menu li a {
    display: block;
    padding: 10px;
    border-top: 1px solid rgb(240, 229, 229);
    color: #fff;
}

#wp-respon-menu .respon-head {
    position: relative;
    padding: 5px;
}

#wp-respon-menu .icon-respon-menu {
    position: absolute;
    top: 22px;
    right: -40px;
    font-size: 25px!important;
    padding: 0px 7px;
    border: 0px;
    color: #fff;
    background: #80b435;
}

#wp-respon-menu .icon-respon-menu {
    display: none;
}
#back-to-top  {
    position: fixed;
    bottom: 30px;
    right: 15px;
    font-size: 40px;
    display: none;
    z-index: 99!important;

   
}
#back-to-top i{
    border-radius: 50%;
    /* border: 1px solid #fff; */
    background: #80b435;
    color: rgb(59, 58, 58);
    outline: none;
    z-index: 99!important;

}