@media screen and (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
    .main-menu li a {
        font-size: 13px!important;
    }
}
@media screen and (max-width: 1200px) {
    
    #side-bar .service-info{
        padding-right: 0px;
    }
    .logo{
        margin: 0px auto;
    }
}
@media screen and (max-width: 1199px) {
    
    #side-bar .service-info{
        padding-right: 0âpx;
    }
}

@media screen and (max-width: 1000px) {
    .main-menu {
        display: none!important;
    }
    .icon-respon-menu {
        display: block!important;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 992px) {
    
    /* ----detail-product--- */
    .product-detail-post button{
        width: 100%;
    }
    /* end-detail-product */
}

@media screen and (max-width: 768px) {
    .catgory-food-item {
        margin-bottom: 10px;
    }
    .logo {
        /* margin: 0px auto; */
        padding-left: 20px;
    }
    /* detail-product */
    .product-detail-post p.product-name{
        font-size: 20px;
    }
    .product-detail-post p.price{
        font-size: 16px;
    }
    
    #my-breadcrumb {
        position: absolute;
        top: 30%;
        left: 37%;
    }
    #my-breadcrumb .breadcrumb-item a{
        color: #fff;
        font-size: 12px;
    }
    #my-breadcrumb li:first-child::before{
        font-size: 12px;
    }
    #my-breadcrumb .breadcrumb-item+.breadcrumb-item::before{
        font-size: 12px;
    }
    
}

@media screen and (max-width: 575px) {
    .headquarters {
        padding-right: 30px;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}

@media screen and (max-width: 240px) {}