@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media screen and (max-width: 1200px) {
    .main-menu li a {
        font-size: 13px!important;
    }
    .logo {
        margin: 0px auto;
    }
}

@media screen and (max-width: 1000px) {
    .main-menu {
        display: none!important;
    }
    .icon-respon-menu {
        display: block!important;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    .catgory-food-item {
        margin-bottom: 10px;
    }
    .logo {
        /* margin: 0px auto; */
        padding-left: 20px;
    }
    
}

@media screen and (max-width: 575px) {
    .headquarters {
        padding-right: 30px;
    }
    .banner-slider .owl-dots {
        position: absolute;
        bottom: 10px;
        left: 42%;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}

@media screen and (max-width: 240px) {}