body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* =======================HEADER======= */



#header {
    background: #80b435;
    padding: 10px 0px;
    /* position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000; */
}

#header .main-menu li a {
    display: block;
    color: #fff;
    margin-right: 30px;
    font-size: 14px;
}

#header form button {
    border: none;
    /* outline: none; */
    background: none;
    color: #fff;
}

#header form a img {
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 15px;
}

/* =============CONTENT========================= */

.banner-slider .owl-stage-outer {
    position: relative;
}

.banner-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 47%;
}

.banner-slider .owl-dots .owl-dot.active span {
    background: black;
}

.home-slider {
    margin-bottom: 50px;
}

/* ------------catgory-food----- */

.widget-catgory-food {
    margin-bottom: 50px;
}

.widget-catgory-food .catgory-food-item .catgory-food-thumb {
    overflow: hidden;
    width: inherit;
}

.widget-catgory-food .catgory-food-item .catgory-food-thumb img {
    transition: all 1.2s;
}

.widget-catgory-food .catgory-food-item .catgory-food-thumb:hover a img {
    transform: scale(1.05);
    transition: all 1.2s;
}

/* -----new-food-------- */

.widget-new-food {
    background: #80b435;
    padding: 50px 0px;
}

.widget-new-food .new-food-title a {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}

.new-food-slider .item .food-info {
    background: #ffff;
}

.new-food-slider .item .food-info a.food-name {
    font-size: 20px;
    color: black;
}

.new-food-slider .item .food-info p.price {
    font-size: 15px;
}

.new-food-slider .item .food-info button {
    background: none;
    border: none;
    color: #a70b0b;
}

.new-food-slider.owl-carousel .owl-stage-outer {
    position: relative;
}

.new-food-slider.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 45%;
    left: -25px;
    width: 40px;
    height: 46px;
    border: 1px solid #acacac;
    background: #ffff;
}

.new-food-slider.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    right: -25px;
    width: 40px;
    height: 46px;
    border: 1px solid #acacac;
    background: #ffff;
}

.new-food-slider.owl-carousel .owl-nav button:hover {
    color: black;
}

/* --------handbook------ */

.widget-handbook-cook {
    padding: 50px 0px;
}

.widget-handbook-cook .handbook-cook-title a {
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.handbook-cook-item .handbook-cook-info a.handbook-cook-title {
    font-size: 20px;
    display: block;
    margin: 20px 0px;
    color: #333;
}

.handbook-cook-item .handbook-cook-info .handbook-cook-detail {
    font-size: 14px;
    color: rgb(41, 39, 39);
}

/* ===========FOOTER============= */

#footer {
    padding: 50px 0px;
    background: #80b435;
    color: #fff;
    font-size: 14px;
}

#foote h4 {
    font-size: 20px;
}

/* ===================RESPON_MENU=============== */

#site {
    position: relative;
    overflow: hidden;
}

#site.open-respon-menu #wp-respon-menu {
    left: 0px;
    transition: left 0.25s;
}

#wp-respon-menu {
    position: absolute;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #80b435;
    z-index: 1000;
    padding: 10px 0px;
    transition: left 0.25s;
}

#wp-respon-menu ul#respon-menu li a {
    display: block;
    padding: 10px;
    border-top: 1px solid rgb(240, 229, 229);
    color: #fff;
}

#wp-respon-menu .respon-head {
    position: relative;
    padding: 5px;
}

#wp-respon-menu .icon-respon-menu {
    position: absolute;
    top: 22px;
    right: -40px;
    font-size: 25px;
    padding: 0px 7px;
    /* display: none; */
    border: 0px;
    color: #fff;
    background: #80b435;
}

#wp-respon-menu .icon-respon-menu {
    display: none;
}

/* ---back-to-top--------- */

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 15px;
    font-size: 40px;
    display: none;
    z-index: 99!important;
}

#back-to-top i {
    border-radius: 50%;
    /* border: 1px solid #fff; */
    background: #80b435;
    color: rgb(59, 58, 58);
    outline: none;
    z-index: 99!important;
}